{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">

{% include 'base/head_css.html' %}	
	<title>{% block title %}NET {% endblock %}</title>
</head>
<body>
<div class="container-fluid">
	
{% include 'base/navbar.html' %}		            	
		 
{% block content %}
{% endblock %}


{% block footer %}
{% endblock%}
</div>

{% include 'base/body_js.html'%}
	    
</body>
</html>