<nav class="navbar navbar">
    <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Home</a>
          </div>
      <div class="collapse navbar-collapse" id="">
        <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Propietarios <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="">Registrar</a></li>
                    <li><a href="">Listar</a></li>
                </ul>
              </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Vehiculos<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                      <li><a href="">Solicitar</a></li>
                      <li><a href="">Listar solicitudes</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a href="https://facebook.com/netelectronicca"onclick="pageTracker._link(this.href); return false;">Netelectronic</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Opciones<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                      <li><a href="">Salir</a></li>
                </ul>
              </li>
        </ul>
    </div>
</div>
</nav>